<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
      <add key="/sys" value="{Name:System,Routes:&quot;/sys,/sys/{Category}/{Details*}&quot;,Methods:GET,ServiceType:System}"/>
      <add key="/dev/pi" value="{Name:Pi Server,Routes:&quot;/dev/pi/{RiotRequest*}&quot;,Methods:&quot;GET,POST&quot;,ServiceType:RiotService,Address:192.168.0.11:8000,Account:&quot;user:password&quot;}"/>
      <add key="/Arduino" value="{Name:Arduino com6,Routes:&quot;/Arduino/{Name},/Arduino/{Name}/{Prop*}&quot;,Methods:&quot;GET,POST&quot;,ServiceType:Arduino,Address:com6}"/>
    </appSettings>

</configuration>
